.post {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 10px;
    border-bottom: 1px solid #dddddd;
}
.post-date{
    display: flex;
    justify-content: left;
    font-size: 12px;
}
.main-temp {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}
.horizontal-item {
    display: flex;
    gap: 10px;
}

.temp-img-icon {
    width: 120px;
    height: 120px;
}

.loading{
    padding-top: 50px;
}
.table{
    font-size: 25px;
    
}
.table-data{
    background-color: #cacaca;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    
}









